#tovabb{
	position:relative;
	top:-39px;
	left:580px;
	width:120px;
	color: white;
	background-color: rgba(255,165,0,.6);
	padding: 15px;
	margin: -35px;
}
#tovabb:hover
{
	background-color: black;
}

.center
{
	margin-left: auto;
	margin-right: auto;
}

table,td
{
	text-align: center;
	align-items: center;
}

#tartalom
{
	width: 600px;
	margin-top: 0;
	align-content: center;
}

table
{
	width: 500px;
}

td
{
	width: 75px;
	text-align: center;
	align-content: center;
}

.bekezdes
{
	text-align: justify;
}

.dekoracio
{
	text-decoration: none;
}

h1
{
	border-bottom: 1px solid lightgray;
}